<dl class="dl-horizontal">
  <% if author[:name] %>
  <dt>Name</dt>         <dd><%= author[:name] %></dd>
  <% end %>
  <% if author[:location] %>
  <dt>Location</dt>     <dd><%= author[:location] %></dd>
  <% end %>
  <% if author[:homepage] and author[:github] != author[:homepage] %>
  <dt>Homepage</dt>     <dd><%== link_to(author[:homepage]) %></dd>
  <% end %>
  <dt>GitHub</dt>       <dd><%== link_to(author[:github]) %></dd>
  <% if author[:twitter] %>
  <dt>Twitter</dt>      <dd><%== link_to("@#{author[:twitter]}", :href => "https://twitter.com/#{author[:twitter]}") %></dd>
  <% end %>
</dl>


<h2>Libraries</h2>
<table class="table">
  <% author[:libraries].sort.each do |key| %>
    <% library = libraries[key.to_sym] %>
    <tr>
      <td><%== link_to(library[:name], :href => "/libraries/#{key}") %></td>
      <td><%= library[:sentence] %></td>
    </tr>
  <% end %>
</table>
