<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xml" href="/feed.xslt"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <id>http://www.arduinolibraries.info/feed</id>
  <title>Latest Arduino Library Releases</title>
  <link href="<%= self_url %>" rel="self" type="application/atom+xml" />
  <link href="http://www.arduinolibraries.info/" rel="alternate" type="text/html" hreflang="en" />
  <updated><%= pub_date %></updated>

  <% libraries.each do |library| %>
  <entry>
    <id>http://www.arduinolibraries.info/libraries/<%= library[:key] %>#v<%= library[:version] %></id>
    <title><%= library[:name] %> v<%= library[:version] %> released</title>
    <author>
      <name><%= library[:author] %></name>
    </author>
    <summary><%= library[:sentence] %></summary>
    <link href="http://www.arduinolibraries.info/libraries/<%= library[:key] %>" rel="alternate" type="text/html" />
    <published><%= library[:release_date] %></published>
    <updated><%= library[:release_date] %></updated>
  </entry>

  <% end %>
</feed>
