<p>
  This site is generated automatically from the <%= @count %> libraries 
  registered in the <a href="https://www.arduino.cc/en/Guide/Libraries">Arduino Library Manager</a>.
</p>

<div class="row">

<div class="col-md-5">
  <h2>
    Most Starred
    <small class="glyphicon glyphicon-star" aria-hidden="true"></small>
  </h2>
  <table class="table table-condensed table-striped">
    <% most_stars.each_with_index do |library, index| %>
      <tr>
        <td><%= index + 1 %>.</td>
        <td><%== link_to(library[:name], :href => "/libraries/#{library[:key]}") %></td>
        <td><%= library[:stargazers_count] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-2"></div>

<div class="col-md-5">
  <h2>
    Most Forked
    <small class="glyphicon glyphicon-random" aria-hidden="true"></small>
  </h2>
  <table class="table table-condensed table-striped">
    <% most_forked.each_with_index do |library, index| %>
      <tr>
        <td><%= index + 1 %>.</td>
        <td><%== link_to(library[:name], :href => "/libraries/#{library[:key]}") %></td>
        <td><%= library[:forks] %></td>
      </tr>
    <% end %>
  </table>
</div>

</div>


<div class="row">

<div class="col-md-4">
  <h2>
    By Category
    <small class="glyphicon glyphicon-book" aria-hidden="true"></small>
  </h2>
  <ul>
    <% @categories.keys.sort.each do |category| %>
      <li>
        <%== link_to(category, :href => "/categories/#{category.to_s.keyize}") %>
        (<%= @categories[category].count %>)
      </li>
    <% end %>
  </ul>
</div>

<div class="col-md-4">
  <h2>
    By Type
    <small class="glyphicon glyphicon-tags" aria-hidden="true"></small>
  </h2>
  <ul>
    <% @types.keys.sort.each do |type| %>
      <li>
        <%== link_to(type, :href => "/types/#{type.to_s.keyize}") %>
        (<%= @types[type].count %>)
      </li>
    <% end %>
  </ul>
</div>

<div class="col-md-4">
  <h2>
    By Architecture
    <small class="glyphicon glyphicon-home" aria-hidden="true"></small>
  </h2>
  <ul>
    <% @architectures.keys.sort.each do |architecture| %>
      <li>
        <%== link_to(architecture.capitalize, :href => "/architectures/#{architecture.to_s.keyize}") %>
        (<%= @architectures[architecture].count %>)
      </li>
    <% end %>
  </ul>
</div>

</div>

<p style="padding-top: 50px">
  ... or you can view all <%== link_to("#{@count} libraries", :href => "/libraries") %>, or 
  <%== link_to("#{@authors.count} authors", :href => "/authors") %> in a great big long list.
</p>
