<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %> - Arduino Libraries</title>

  <% if description %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@arduinolibs" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta property="og:description" content="<%= description %>" />
  <% end %>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:url" content="<%= url %>" />
  <link rel="canonical" href="<%= url %>" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          Arduino Library List
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="/categories" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @categories.keys.sort.each do |category| %>
                <li><%== link_to(category, :href => "/categories/#{category.to_s.keyize}") %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/types" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Types <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @types.keys.sort.each do |type| %>
                <li><%== link_to(type, :href => "/types/#{type.to_s.keyize}") %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/architectures" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Architectures <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @architectures.keys.sort.each do |architecture| %>
                <li><%== link_to(architecture, :href => "/architecures/#{architecture.to_s.keyize}") %></li>
              <% end %>
            </ul>
          </li>
          <li><a href="/authors">Authors</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <h1><%= title %></h1>
    <%== yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p>
        Created by <a href="http://twitter.com/njh">@njh</a>
      </p>
      <p>
        This website is Open Source, please help improve it by submitting a change on GitHub: <br />
        <a href="https://github.com/njh/arduino-libraries">https://github.com/njh/arduino-libraries</a>
      </p>
      <p>
        The content on this site was last updated: <%= Time.now %>
      </p>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81845219-1', 'auto');
    ga('send', 'pageview');
  </script>

  <% unless jsonld.nil? %>
    <!-- Schema.org JSON-LD Structured Data-->
    <script type="application/ld+json">
      <%== jsonld %>
    </script>
  <% end %>
</body>

</html>
