<% if library[:paragraph].nil? || library[:paragraph].index(library[:sentence]).nil? %>
<p class="sentence"><%= library[:sentence] %></p>
<% end %>

<dl class="dl-horizontal">
  <dt>Author</dt>         <dd><%== link_to(library[:author], :href => "/authors/#{library[:username]}") %></dd>
  <% if library[:maintainer] != library[:author] %>
  <dt>Maintainer</dt>     <dd><%= library[:maintainer] %></dd>
  <% end %>
  <dt>Website</dt>        <dd><%== link_to(library[:website]) %></dd>
  <% if library[:github] != library[:website] %>
  <dt>Github</dt>         <dd><%== link_to(library[:github]) %></dd>
  <% end %>
  <dt>Category</dt>       <dd><%== link_to_category(library[:category]) %></dd>
  <dt>License</dt>        <dd><%== link_to_license(library[:license]) %></dd>
  <dt>Library Type</dt>   <dd><%== pretty_list(library[:types]) %></dd>
  <dt>Architectures</dt>  <dd><%== pretty_list(library[:architectures]) %></dd>
  <% if library[:github] %>
  <dt></dt>         <dd>
    <%== gh_badge(library[:github], 'stars') %>
    <%== gh_badge(library[:github], 'watchers') %>
    <%== gh_badge(library[:github], 'release') %>
    <%== gh_badge(library[:github], 'last-commit') %>
    <%== gh_badge(library[:github], 'open-issues') %>
    <%== gh_badge(library[:github], 'assets-dl') %>
    <%== gh_badge(library[:github], 'label-issues', 'good-first-issue/open') %>
  </dd>
  <% end %>
</dl>

<p class="paragraph"><%= library[:paragraph] %></p>

<h2>Downloads</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Release Date</th>
      <th>File Size</th>
    </tr>
  </thead>
  
  <tbody>
  <% library[:versions].each do |version| %>
    <tr>
      <td><%== link_to(version[:archiveFileName], :href => version[:url]) %></td>
      <td>
        <% if version[:release_date] %>
          <%== link_to(Time.parse(version[:release_date]).strftime('%Y-%m-%d'), :href => version[:github]) %>
        <% else %>
          
        <% end %>
      </td>
      <td><%= format_filesize(version[:size]) %></td>
    </tr>
  <% end %>
  </tbody>

</table>
