<div>
  <p><%= library[:paragraph] || library[:sentence] %></p>
</div>

<dl class="dl-horizontal">
  <dt>Author</dt>         <dd><%== link_to(library[:author], "/authors/#{library[:username]}") %></dd>
  <% if library[:maintainer] != library[:author] %>
  <dt>Maintainer</dt>     <dd><%= library[:maintainer] %></dd>
  <% end %>
  <dt>Website</dt>        <dd><%== link_to(library[:website]) %></dd>
  <% if library[:github] != library[:website] %>
  <dt>Github</dt>         <dd><%== link_to(library[:github]) %></dd>
  <% end %>
  <dt>Category</dt>       <dd><%== link_to_category(library[:category]) %></dd>
  <dt>Library Type</dt>   <dd><%== pretty_list(library[:types]) %></dd>
  <dt>Architectures</dt>  <dd><%== pretty_list(library[:architectures]) %></dd>
</dl>


<h2>Downloads</h2>
<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>File Size</th>
    </tr>
  </thead>
  
  <tbody>
  <% library[:versions].each do |version| %>
    <tr>
      <td><a href="<%= version[:url] %>"><%= version[:archiveFileName] %></a></td>
      <td><%= format_filesize(version[:size]) %></td>
      <td><%#= version[:checksum] %></td>
    </tr>
  <% end %>
  </tbody>

</table>
