<div>
  <p><%= library[:paragraph] || library[:sentence] %></p>
</div>

<dl class="dl-horizontal">
  <dt>Author</dt>         <dd><%= library[:author] %></dd>
  <dt>Maintainer</dt>     <dd><%= library[:maintainer] %></dd>
  <dt>Website</dt>        <dd><%= library[:website] %></dd>
  <dt>Category</dt>       <dd><%= library[:category] %></dd>
  <dt>Library Type</dt>   <dd><%= library[:types] ? library[:types].join(', ') : 'Unknown' %></dd>
  <dt>Architectures</dt>  <dd><%= library[:architectures] ? library[:architectures].join(', ') : 'Unknown' %></dd>
</dl>


<h2>Downloads</h2>
<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>File Size</th>
    </th>
  </thead>
  
  <tbody>
  <% library[:versions].each do |version| %>
    <tr>
      <td><a href="<%= version[:url] %>"><%= version[:archiveFileName] %></a></td>
      <td><%= version[:size] %></td>
      <td><%#= version[:checksum] %></td>
    </tr>
  <% end %>
  </tbody>

</table>
